<launch>
    <!-- Pass parameters to the node -->

    <param name="resolution" value="0.2"/>
    <param name="world_sizeX" value="200"/>
    <param name="world_sizeY" value="60"/>
    <param name="world_sizeZ" value="4"/>


     <!-- add extension -->
    <param name="map" value="atlas_1F.ifc"/>

    <!-- Launch the Python script as a node -->
    <node name="path_field_gen" pkg="bim2ros" type="path_field_gen.py" output="screen"/>
</launch>
